{% extends 'base.html.twig' %}

{% block title %}Modifier la tâche{% endblock %}

{% block body %}

<div class="panel panel-primary" style="min-width:200px;">
  <div class="panel-heading">
    <h3 class="panel-title">Modifier la tâche</h3>
  </div>
  <div class="panel-body">
    {{ include('tache/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tache_index') }}">Retour à la liste</a>

    {{ include('tache/_delete_form.html.twig') }}
  </div>
</div>
{% endblock %}
